<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common.html :: headIncludes"></head>

<body>
<nav th:replace="fragments/common.html" :: navibarIncludes></nav>

</br></br></br></br>
<div class="container">
    <form th:action="@{/}" th:object="${path}" method="post">
        <div></div>
        <div class="form-row">
            <div class="col-md-3 mb-6">
                <label for="originPlanet">Origin Planet</label>
                <input type="hidden" th:field="*{vertexName}"/>
                <input class="custom-select mr-sm-3" id="originPlanet" disabled type="text" th:field="*{vertexName}"/>

            </div>
            <div class="col-md-3 mb-6">
                <label for="destinationPlanet">Destination Planet</label>
                <select id="destinationPlanet" th:field="*{selectedVertex}" class="custom-select mr-sm-2">
                    <option th:each="v : ${planets}"
                            th:value="${v.name}"
                            th:text="${v.name}">
                    </option>
                </select>
            </div>
            <div class="col-md-1 mb-6">
                </br>
                <label>
                    <input type="checkbox" th:field="*{traffic}"/>Traffic
                </label>
            </div>

            <div class="col-md-3 mb-4"></br>
                <button type="submit" class="btn btn-primary">Submit</button>
                </br></br>
            </div>

        </div>
    </form>
    <div>
        <div th:if="${not #lists.isEmpty(finalPath)}" th:object="${finalPath}">
            <div>
                <h2>Result Table</h2>
                <table id="planetsTable" class="table table-striped table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th> Source Planet</th>
                        <th> Destination Planet</th>
                        <th> Shortest Route</th>
                    </tr>
                    </thead>
                    <tr>
                        <td th:text="*{sourceVertex}">Source Planet</a></td>
                        <td th:text="*{destinationVertex}">Destination Planet</td>
                        <td th:text="*{thePath}">Shortest Route</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
<script src="js/datatables/datatables.js"></script>
</body>
</html>