<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common.html :: headIncludes"></head>

<body>
<nav th:replace="fragments/common.html" :: navibarIncludes></nav>
</br></br>
<div class="container">
    <form th:action="@{/nodes/update/{id}(id=${planet.id})}" th:object="${planet}" method="post">
        <div>
            <h2>Edit Planet</h2>
        </div>
        <div class="form-row">
            <div class="col-md-8 mb-6">
                <label for="planetName"> Planet Name:</label>
                <input id="planetName" type="text" th:field="*{name}"/>
            </div>
        </div>
        </br>
        <div class="form-row">
            <div class="col-md-8 mb-6">
                <label for="planetNode"> Planet Node:</label>
                <input id="planetNode" type="text" th:field="*{node}"/>
            </div>
        </div>
        <div class="col-md-3 mb-4"></br>
            <button type="submit" class="btn btn-primary">Submit</button>
            </br></br>
        </div>


    </form>
</div>
</body>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/select2-develop/dist/js/select2.full.js}">

</script>
<script>
    $(document).ready(function () {
        $('#planetsTable').dataTable();
    });
</script>
</html>