<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common.html :: headIncludes"></head>

<body>
<nav th:replace="fragments/common.html" :: navibarIncludes></nav>
</br></br>
<div class="container">
    <form th:action="@{/traffic/save}" th:object="${traffic}" method="post">
        <div>
            <h2>Create Traffic</h2>
        </div>
        <div class="form-row">
            <div class="col-md-8 mb-6">
                <label for="planetOrigin"> Planet Origin:</label>
                <input id="planetOrigin" type="text" th:field="*{startNode}"/>
            </div>
        </div>
        </br>
        <div class="form-row">
            <div class="col-md-8 mb-4">
                <label for="planetDestination"> Planet Destination:</label>
                <input id="planetDestination" type="text" th:field="*{endNode}"/>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8 mb-6">
                <label for="distance"> Traffic Delay(Light Years):</label>
                <input id="distance" type="text" th:field="*{trafficDelay}"/>
            </div>
        </div>
        <div class="col-md-3 mb-4"></br>
            <button type="submit" class="btn btn-primary">Submit</button>
            </br></br>
        </div>


    </form>
</div>
</body>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/select2-develop/dist/js/select2.full.js}">

</script>
<script>
    $(document).ready(function () {
        $('#planetsTable').dataTable();
    });
</script>
</html>