<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common.html :: headIncludes"></head>

<body>
<nav th:replace="fragments/common.html" :: navibarIncludes></nav>
</br></br>
<div class="container">
    <div>
        <h2>Traffic Details</h2>
    </div>
    </br>
    <div class="form-row">
        <div class="col-md-8 mb-6">
            <label for="planetOrigin"> Planet Origin:</label>
            <input id="planetOrigin" disabled type="text" th:field="*{traffic.startNode}"/>
        </div>
        </br></br></br></br>
        <div class="col-md-8 mb-6">
            <label for="planetDestination"> Planet Destination:</label>
            <input id="planetDestination" disabled type="text" th:field="*{traffic.endNode}"/>
        </div>
        </br></br></br></br>
        <div class="col-md-8 mb-6">
            <label for="distance"> Traffic Delay(Light Years):</label>
            <input id="distance" disabled type="text" th:field="*{traffic.trafficDelay}"/>
        </div>
    </div>
    </br>
</div>
</body>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/select2-develop/dist/js/select2.full.js}">

</script>
<script>
    $(document).ready(function () {
        $('#planetsTable').dataTable();
    });
</script>
</html>